<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 项目详情</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="H/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="H/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="H/css/animate.css" rel="stylesheet">
    <link href="H/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="stylesheets/viewOrder.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="row">
        <div class="col-sm-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="m-b-md">
                                    <a href="edit?orderId={{orderId}}" class="btn btn-white btn-xs pull-right">修改本订单</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/{{orderId}}.pdf" class="btn btn-white btn-xs pull-right" target = "_blank">打印</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:void(0);" class="btn btn-white btn-xs pull-right" target = "_blank">快递单打印</a>
                                    <h2>{{orderId}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="dl-horizontal">
                                    <dt>客户：</dt>
                                    <dd>{{company}} -- {{customerRealName}}</dd>
                                    <dt>下单时间：</dt>
                                    <dd>{{orderTime}}</dd>
                                    <dt>备注：</dt>
                                    <dd>{{orderRemark}}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-7" id="cluster_info">
                                <dl class="dl-horizontal">
                                    <dt>发货日期：</dt>
                                    <dd>{{expectedTime}}</dd>
                                    <dt>发货方式：</dt>
                                    <dd>{{logisticsWay}}</dd>
                                    <dt>收货人：</dt>
                                    <dd>{{receiverInfo}}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <dl class="dl-horizontal">
                                    <dt>当前进度：</dt>
                                    <dd>
                                        <div class="orderSteps">
                                            <p>
                                                {{{step}}}
                                                <span class='label label-success'><i class="fa fa-refresh"></i>&nbsp;&nbsp;更新</span>
                                            </p>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-12">
                                <table class = "orderTable">
                                    <thead>
                                        <tr>
                                            <th>图片</th><th>规格</th><th>单价</th><th>数量</th><th>总价</th><th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{{orderDetail}}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" id = 'sideBar'>
            <div class="widget lazur-bg text-center col-sm-11">
            	<a href = "{{fileUrl}}">
                <div class="m-b-md" id = 'openFileDiv'>
                    <img src = "images/cdrlogo_2.png" class = 'col-sm-4'>
                    <h1 class="font-bold no-margins" id = 'openFileTitle'>
                        打开文件
                    </h1>
                </div>
                </a>
            </div>

            <div class="row">
                <div class="col-sm-11">

                    <div class="ibox chat-view">

                        <div class="ibox-title">
                            <a href="javascript:void(0);" class="btn btn-white btn-xs pull-right"><i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新</a>聊天窗口
                        </div>


                        <div class="ibox-content">

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="chat-discussion">
                                        <div class="chat-message chat-right">
                                            <div class="message">
                                                <span class="text-danger">设计</span>
                                                <span class="message-date">  2015-02-02 18:39:23 </span>
                                                <span class="message-content">
                                                H+ 是个好框架
                                                </span>
                                            </div>
                                        </div>
                                        <div class="chat-message chat-left">
                                            <div class="message">
                                                <span class="text-success">喻小伟</span>
                                                <span class="message-date">  2015-02-02 11:12:36 </span>
                                                <span class="message-content">
                                                jQuery表单验证插件 - 让表单验证变得更容易
                                                </span>
                                            </div>
                                        </div>
                                        <div class="chat-message chat-left">
                                            <div class="message">
                                                <span class="text-success">喻小伟</span>
                                                <span class="message-date">  2015-02-02 11:12:36 </span>
                                                <span class="message-content">
                                                验证日期格式(类似30/30/2008的格式,不验证日期准确性只验证格式
                                                </span>
                                            </div>
                                        </div>
                                        <div class="chat-message chat-right">
                                            <div class="message">
                                                <span class="text-danger">设计</span>
                                                <span class="message-date">  2015-02-02 - 11:12:36 </span>
                                                <span class="message-content">
                                                还有约79842492229个Bug需要修复,还有约79842492229个Bug需要修复还有约79842492229个Bug需要修复还有约79842492229个Bug需要修复
                                                </span>
                                            </div>
                                        </div>
                                        <div class="chat-message chat-left">
                                            <div class="message">
                                                <span class="text-success">喻小伟</span>
                                                <span class="message-date">  2015-02-02 11:12:36 </span>
                                                <span class="message-content">
                                                九部令人拍案叫绝的惊悚悬疑剧情佳作】如果你喜欢《迷雾》《致命ID》《电锯惊魂》《孤儿》《恐怖游轮》这些好片，那么接下来推荐的9部同类题材并同样出色的的电影，绝对不可错过哦~

                                                </span>
                                            </div>
                                        </div>

                                        <div class="chat-message chat-left">
                                            <div class="message">
                                                <span class="text-success">喻小伟</span>
                                                <span class="message-date">  2015-02-02 11:12:36 </span>
                                                <span class="message-content">
                                                    <img src = 'http://i.bjtdty.com/order/2016/1/2/1451700866333.jpg@0o_0l_200w_100q.src'>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="chat-message-form">
                                        <div class="form-group">
                                            <textarea class="form-control message-input" name="message" placeholder="输入消息内容，按回车键发送"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="H/js/jquery.min.js?v=2.1.4"></script>
    <script src="H/js/bootstrap.min.js?v=3.3.6"></script>



    <!-- 自定义js -->
    <script src="H/js/content.js?v=1.0.0"></script>

</body>

</html>
